<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayoutPage}"
      layout:decorator="adminLayoutPage">
<head>
    <title>Room Update Dashboard</title>

</head>
<body>

<div layout:fragment="mycontent">






    <!-- Create HTML registration form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <!-- success message -->
                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully registered
                        to our awesome app!
                    </div>
                </div>

                <h1>Room Update</h1>

                <form th:action="@{/admin/updateRoom}" method="POST" th:object="${roomModel}">

                    <div class="form-group">
                        <label> Room Number </label>
                        <input
                                type="number"
                                name="roomNumber"
                                th:value="*{roomNumber}"
                                class="form-control"
                                required autofocus="autofocus"/>
                    </div>



                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Update Teacher</button>
                        <span><a th:href="@{/management/getTeacherPage}">Previous</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>